*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'proppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.card{
    background: rgb(250, 248, 245);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.photo {
    background-color: rgb(255, 0, 200);
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 0px 0px 0 0;
}
.p1{
    background-image: url(photos/p1.jpg.jpg);
    border-radius: 0px 0px 0 0;
}
.p2{
    background-image: url(photos/p1.jpg.jpg);
    border-radius: 0px 0px 0 0;
   
}
.p3{
    background-image: url(photos/p1.jpg.jpg);
}
.p4{
    background-image: url(unito.jpg);
}
.p5{
    background-image: url(photos/p1.jpg.jpg);
}
.p6{
    background-image: url(photos/p1.jpg.jpg);
}
.p7{
    background-image: url(photos/p1.jpg.jpg);
    }
.card h1{
    padding: 10px;
     
}
.card p{
    padding: 10px;

}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 0px 0px 0 0;
    

}
.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}
